<div class="card">
  <div class="row">
    <div class="col-xs-2">
      {{simple-dropdown options=scopes active=activeScope action='selectScope'}}
    </div>

    <div class="col-xs-1">
      WITH
    </div>

    <div class="col-xs-5">
      {{condition-builder condition=firstCondition}}
    </div>
    <div class="col-xs-1">
      {{!-- <span {{action "appendCondition"}}>{{fa-icon "plus fa-3x"}}</span> --}}
      <button type="button" class="btn btn-info"{{action "appendCondition"}}>{{fa-icon "plus"}}</button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-success" {{action "submit"}}>Search</button>
    </div>
  </div>


  <div class="row">
    {{#each remainingConditions as |condition|}}
    <div class="col-xs-5 offset-xs-3">
      {{condition-builder condition=condition}}
    </div>
    {{/each}}
  </div>
</div>
