    <h2>{{scope}}</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th class="result-table-head">
          Name
        </th>
        <th class="result-table-head">
          Age
        </th>
        <th class="result-table-head">
          Status
        </th>
        <th class="result-table-head">
          Balance
        </th>
        <th class="result-table-head">
          Date
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each values as |value|}}
        <tr>
            <td>{{value.name}}</td>
            <td>{{value.age}}</td>
            <td>{{value.status}}</td>
            <td>{{value.balance}}</td>
            <td>{{value.date}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>

